.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.head {
  padding: 10px;
  text-align: center;
  background-color: beige;
  width: 100%;
  font-size: 30px;

}
h2{
  margin: 0;
}
Button{
  text-align: center;
}
#btn{
  width: 20px;
  border: 2px solid black;
}
.btn{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}